* {
    margin: auto;
}

body {
    width: 100%;
    height: 100%;
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
}

header {
    position: relative;
    background: #fff;
    padding: 35px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
}

header h1 {
    float: left;
    position: absolute;
    padding: 17.5px 10px;
    background: #4aaaa5;
    top: 0%;
    left: 12.5%;
    color: #fff;
    font-weight: normal;
}

nav {
    position: absolute;
    right: 12.5%;
    top: 40%;

}

nav li {
    float: left;
    padding: 0px 10px;
    list-style: none;
}

#liborder {
    border-right: solid 1px #ccc;
    border-left: solid 1px #ccc;
}

a:link {
    text-decoration: none;
    color: #777;
}

a:visited {
    text-decoration: none;
    color: #777;
}

a:hover {
    text-decoration: none;
    color: #4aaaa5;
}

main {
    width: 960px;
    height: 1050px;
    background: #fff;
    margin-bottom: 80px;
}

main h1 {
    color: #4aaaa5;
    padding: 35px 0px 15px 0px;
    margin: 10px 0px;
    font-size: 32px;
}

.hborder {
    width: 95%;
    border-bottom: 2px solid #ccc;
    margin-bottom: 0px;
}

article {
    width: 95%;
    padding: 10px;
}

main p {
    line-height: 2.4em;
    padding: 0px 10px 20px 0px;
}

img {
    float: left;
    height: 190px;
    width: 125px;
    margin: 10px 20px 10px 0px;
}

footer {
    position: fixed;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    background: #666;
    border-top: 6px solid #4aaaa5;
    bottom: 0%;
    color: #777;
}