header {
    position: relative;
    background: #fff;
    padding: 35px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
}
header h1 {
    float: left;
    position: absolute;
    padding: 22px;
    background: #4aaaa5;
    top: 0%;
    left: 12.5%;
    color: #fff;
    font-weight: normal;
}

nav {
    position: absolute;
    right: 12.5%;
    top: 40%;

}

nav li {
    float: left;
    padding: 0px 10px;
    list-style: none;
}

#liborder {
    border-right: solid 1px #ccc;
    border-left: solid 1px #ccc;
}

a:link {
    text-decoration: none;
    color: #777;
}

a:visited {
    text-decoration: none;
    color: #777;
}

a:hover {
    text-decoration: none;
    color: #4aaaa5;
}