img {
    height: 200px;
    width: 250px;
    margin: 25px;
}

.hangc {
    position: relative;
    float: left;
}

.hangt {
    position: absolute;
    top: 65%;
    left: 8.2%;
    background: #4aaaa5;
    color: #fff;
    padding: 10px 94.5px;
    text-align: center;

}

.rpgc {
    float: left;
    position: relative;
}

.rpgt {
    position: absolute;
    top: 65%;
    left: 8.5%;
    background: #4aaaa5;
    color: #fff;
    padding: 10px 88.5px;
    text-align: center;
}

.triviac {
    float: left;
    position: relative;
}

.triviat {
    position: absolute;
    top: 65%;
    left: 8.5%;
    background: #4aaaa5;
    color: #fff;
    padding: 10px 84.5px;
    text-align: center;
}

.riwc {
    float: left;
    position: relative;
}

.riwt {
    position: absolute;
    top: 65%;
    left: 8.5%;
    background: #4aaaa5;
    color: #fff;
    padding: 10px 58px;
    text-align: center;
}

.rpsc {
    float: left;
    position: relative;
}

.rpst {
    position: absolute;
    top: 65%;
    left: 8.5%;
    background: #4aaaa5;
    color: #fff;
    padding: 10px 59.5px;
    text-align: center;
}