
.WordDivCenter {
    display: flex;
    justify-content: center;
}

.sideDivImg {
    background-image: url(imgs/swirls.png);
}

#wordGuess {
    position: relative;
    width: 100%;
    height: 600px;
    background-size: 100% 100%;
    background-image: url(imgs/wordguess.png); 
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border-right: 4px solid #b2b2b2;
    border-left: 4px solid #b2b2b2;
}

#wordGuessh1 {
    text-align: center;
    background-image: url(imgs/wash.png);
    color: white;
    padding: 100px 0px 100px 0px;
    border-top: 4px solid rgb(117, 1, 1, 0.8);
    border-bottom: 4px solid rgb(117, 1, 1, 0.8);
}

#wordGuessh1 p {
    margin: 0px 50px;
}

.akameDivCenter {
    display: flex;
    justify-content: center;
    background-image: url(imgs/swirls.png);
}


#akame {
    position: relative;
    width: 100%;
    height: 600px;
    background-size: 100% 100%;
    background-image: url(imgs/akame.png);
    border-radius: 5px;
    border-right: 4px solid #b2b2b2;
    border-left: 4px solid #b2b2b2;
}

.triviaDivCenter {
    display: flex;
    justify-content: center;
    background-image: url(imgs/swirls.png);
}

#trivia {
    position: relative;
    width: 100%;
    height: 600px;
    background-size: 100% 100%;
    background-image: url(imgs/trivia.png);
    border-radius: 5px;
    border-right: 4px solid #b2b2b2;
    border-left: 4px solid #b2b2b2;
}

.rwicDivCenter {
    display: flex;
    justify-content: center;
    background-image: url(imgs/swirls.png);
}

#rwic {
    width: 100%;
    height: 600px;
    background-size: 100% 100%;
    background-image: url(imgs/api.png);
    border-radius: 5px;
    border-right: 4px solid #b2b2b2;
    border-left: 4px solid #b2b2b2;
}

.rpsDivCenter {
    display: flex;
    justify-content: center;
    background-image: url(imgs/swirls.png);
}

#rps {
    width: 100%;
    height: 600px;
    background-size: 100% 100%;
    background-image: url(imgs/rps.png);
    border-radius: 5px;
    border-right: 4px solid #b2b2b2;
    border-left: 4px solid #b2b2b2;
}

